<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nl.siebjee.github</string>
	<key>connections</key>
	<dict>
		<key>564BFAE3-38FA-476A-A353-58361C3DEDD8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89483695-A584-47DD-A7FE-4AC16B28A713</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AFBEBACE-7600-4136-B2D7-DE8FF4D3D917</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B46D06E4-16ED-4E65-B1CA-07E2D753BC0C</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>249F3FC8-6CAF-4911-9E9A-3FBFD7864BFF</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B82B8072-C309-4ADE-B05D-E49A3C5BBDC6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17C9051E-4137-419D-8C93-9369CE0A1F63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CFB9449A-ED73-4B37-803B-D2AE21DDAA7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46DFB2D4-AEE9-4550-B0EF-A23CFA749561</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Siebren Zwerver</string>
	<key>description</key>
	<string>GitHub respository Selector</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GitHub</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>rm repositories.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>46DFB2D4-AEE9-4550-B0EF-A23CFA749561</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gh clear</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Clear known GitHub repositories</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CFB9449A-ED73-4B37-803B-D2AE21DDAA7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/usr/bin/env bash

(
curl -su ":${github_token}" \
    -H "Accept: application/json" \
    "https://api.github.com/user/repos?visibility=all&amp;per_page=100" | jq  -S '.[] | {"uid": .full_name, "title": .full_name, "arg": .html_url, "match": "\(.name) \(.name | split("-") | join(" ")) \(.owner.login)", "mods": {"cmd": { "valid": true, "subtitle": "Copy ssh Clone URL", "arg": .ssh_url }, "alt": {"valid": true, "subtitle": "Copy https Clone URL", "arg": .clone_url}, "control": {"valid": true, "subtitle": "Open Pull requests URL", "arg": "\(.html_url)/pulls"}}}'


for additional_repo in ${additional_repos}; do
    curl -su ":${github_token}" \
        -H "Accept: application/json" \
        "https://api.github.com/repos/${additional_repo}?visibility=all&amp;per_page=100" | jq  -S '. | {"uid": .full_name, "title": .full_name, "arg": .html_url, "match": "\(.name) \(.name | split("-") | join(" ")) \(.owner.login)", "mods": {"cmd": { "valid": true, "subtitle": "Copy ssh Clone URL", "arg": .ssh_url }, "alt": {"valid": true, "subtitle": "Copy https Clone URL", "arg": .clone_url}, "control": {"valid": true, "subtitle": "Open Pull requests URL", "arg": "\(.html_url)/pulls"}}}'
done
) | jq -s . | jq '{"items": .}' &gt; repositories.json

echo "Updated"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>17C9051E-4137-419D-8C93-9369CE0A1F63</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gh update</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Update known GitHub repositories</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B82B8072-C309-4ADE-B05D-E49A3C5BBDC6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>89483695-A584-47DD-A7FE-4AC16B28A713</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AFBEBACE-7600-4136-B2D7-DE8FF4D3D917</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cat ./repositories.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>GitHub Repository</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>564BFAE3-38FA-476A-A353-58361C3DEDD8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B46D06E4-16ED-4E65-B1CA-07E2D753BC0C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>249F3FC8-6CAF-4911-9E9A-3FBFD7864BFF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A GitHub repository selector.

use: "gh auth token" to get the github CLI token and use that in this workflow as variable: "GITHUB_TOKEN"


Modifier keys:

command = Copy SSH Clone URL
alt     = Copy HTTPS Clone URL
control = Open Pull request dashboard

This workflow uses the following binaries:
- jq   (JSON parser)
- curl (cURL for retireving data from the github API)</string>
	<key>uidata</key>
	<dict>
		<key>17C9051E-4137-419D-8C93-9369CE0A1F63</key>
		<dict>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>249F3FC8-6CAF-4911-9E9A-3FBFD7864BFF</key>
		<dict>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>46DFB2D4-AEE9-4550-B0EF-A23CFA749561</key>
		<dict>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>564BFAE3-38FA-476A-A353-58361C3DEDD8</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>89483695-A584-47DD-A7FE-4AC16B28A713</key>
		<dict>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>AFBEBACE-7600-4136-B2D7-DE8FF4D3D917</key>
		<dict>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>B46D06E4-16ED-4E65-B1CA-07E2D753BC0C</key>
		<dict>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>B82B8072-C309-4ADE-B05D-E49A3C5BBDC6</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>CFB9449A-ED73-4B37-803B-D2AE21DDAA7A</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>GitHub token provided by running "gh auth token"</string>
			<key>label</key>
			<string>GitHub Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>github_token</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>6</integer>
			</dict>
			<key>description</key>
			<string>line separated "username/repository"</string>
			<key>label</key>
			<string>Additional Repositories</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>additional_repos</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>ADDITIONAL_REPOS</key>
		<string>{var:additional_repos}</string>
		<key>GH_TOKEN</key>
		<string>{var:github_token}</string>
	</dict>
	<key>version</key>
	<string>0.3.1</string>
	<key>webaddress</key>
	<string>https://siebjee.nl</string>
</dict>
</plist>
